<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}?v={{ pkg.version }}">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body class="{{ layout | templateBodyClass }} {{ bodyClass }}">
    <div class="page is-flex is-flex-direction-column">
      <header class="page-header">
        <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="home-item navbar-item" href="{{ '/' | url }}">
              <svg class="home-item__icon icon" aria-hidden="true"><use href="{{ '/assets/img/icons.svg#mdi-bookmark-multiple' | url }}"></use></svg>
              <span class="home-item__text is-family-secondary pr-4">{{ metadata.title }}</span>
            </a>

            <button type="button" class="navbar-burger" aria-label="Menu" aria-expanded="false" data-target="menu">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </button>
          </div>

          <div id="menu" class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-secondary" href="https://github.com/hampusn/bookmarklets#readme">
                    <svg class="icon" aria-hidden="true"><use href="{{ '/assets/img/icons.svg#mdi-github' | url }}"></use></svg>
                    <strong>Github</strong>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </header><!--! .page-header -->

      <main class="page-main is-flex-grow-1 {% if page.url == "/" %}has-background-primary{% endif %}">
        {% if draft %}
          <div class="mt-4">
            <div class="container is-max-desktop">
              <div class="message is-danger">
                <div class="message-body">
                  <strong>Warning!</strong> This is a draft and will not be included in a production build.
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        {{ content | safe }}
      </main><!--! .page-main -->

      <footer class="page-footer section has-background-secondary-dark has-text-white py-5">
        <div class="container">
          <p class="has-text-centered">
            <a class="page-footer__link has-text-white" href="https://github.com/hampusn/bookmarklets#readme">
              <strong>bookmarklets</strong>
              <svg class="icon" aria-label="External link"><use href="{{ '/assets/img/icons.svg#mdi-open-in-new' | url }}"></use></svg>
            </a>
            is created by
            <a class="page-footer__link has-text-white" href="{{ pkg.author.url | url }}">
              <strong>{{ pkg.author.name }}</strong>
              <svg class="icon" aria-label="External link"><use href="{{ '/assets/img/icons.svg#mdi-open-in-new' | url }}"></use></svg>
            </a>
          </p>
        </div>
      </footer><!--! .page-footer -->
    </div><!--! .page -->

    <div id="bookmarklet-drag" class="bookmarklet-drag"></div>
    <script type="module" src="{{ '/assets/js/main.js' | url }}?v={{ pkg.version }}"></script>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
