@import "variables";

// Import Bulma
@import "bulma/bulma.sass";


// Bulma fixes and overrides
.token.number, .token.tag {
  all: inherit;
}

code {
  background-color: rgba(10, 10, 10, .10);
  border-radius: 0.25em;
  padding: 0.25em 0.35em 0.25em;
}

.content a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
