.icon {
  color: inherit;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: -0.1em;
}

.icon--large {
  font-size: 1.5em;
  vertical-align: -0.27em;
}
